@font-face {
  font-family: "Cera Pro";
  src: url("../public/fonts/CeraPro-Regular.woff2") format("woff2"),
    url("../public/fonts/CeraPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Cera Pro";
  src: url("../public/fonts/CeraPro-Black.woff2") format("woff2"),
    url("../public/fonts/CeraPro-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Cera Pro";
  src: url("../public/fonts/CeraPro-Bold.woff2") format("woff2"),
    url("../public/fonts/CeraPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Cera Pro";
  src: url("../public/fonts/CeraPro-Medium.woff2") format("woff2"),
    url("../public/fonts/CeraPro-Medium.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: block;
}

* {
  box-sizing: border-box;
  transition: 0.25s;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Cera Pro", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: #00dfd8;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

p {
  line-height: 1.8;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.bg-white {
  background-color: white;
}

.items-center {
  align-items: center;
}

.ease-out {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.ease-in {
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1); 
}

.relative {
  position: relative;
}

.z-10 {
  z-index: 10;
}

.duration-300 {
  transition-duration: 300ms;
}

.duration-200 {
  transition-duration: 200ms;
}

.duration-100 {
  transition-duration: 100ms;
}

.opacity-0 {
  opacity: 0;
}

.opacity-100 {
  opacity: 1;
}

.ease-in {
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

.fixed {
  position: fixed;
}

.inset-o {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.bg-opacity-25 {
  background-color: rgba(0, 0, 0, 0.5);
}

.scale-95 {
  --transform-scale-x: 0.95;
  --transform-scale-y: 0.95;
}

.scale-100 {
  --transform-scale-x: 1;
  --transform-scale-y: 1;
}

.w-full {
  width: 100%;
}

.overflow-hidden {
  overflow: hidden;
}

.max-w-md {
  max-width: 28rem;
}

.transition-all {
  transition-property: all;
}

.min-h-full {
  min-height: 100%;
}

.inset-0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.overflow-y-auto {
  overflow-y: auto;
}
